.bullet-list {
  list-style: none;
  margin-left: 56px;
}
.bullet-list__title {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 0.4px;
}
.bullet-list__interval {
  display: inline-block;
  font-size: 26px;
  margin-left: 14px;
}
.bullet-list__interval:before {
  content: "//";
  margin-right: 6px;
}
.bullet-list__item {
  position: relative;
}
.bullet-list__item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -42px;
  top: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
}
