* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
body {
  font-family: sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px dashed #008000;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
section {
  border: 1px solid #f00;
}
.intro,
.profile,
.contact,
.skills {
  border: 1px solid #00f;
}
