.points
  &__point 
    display inline-block
    width 1.125rem
    height 1.125rem
    margin-right .5625rem
    border-radius 50%
    background-color #e6e6e6  
    &--active
      background-color #3d6cb0