mixin points(numberOfPoints, maxNumber)
    .points
        - for (var i = 0; i < maxNumber; i++)
                if i < numberOfPoints
                    span.points__point.points__point--active
                else
                    span.points__point 
                