mixin points(numberOfPoints, maxNumber)
    - for (var x = 0; x < maxNumber; x++)
        if numberOfPoints > 0
            span.point.point--active
        else
            span.point 
        - numberOfPoints--