mixin points(numberOfPoints, maxNumber)
    .points
        - for (var x = 0; x < maxNumber; x++)
                if numberOfPoints > 0
                    span.points__point.points__point--active
                else
                    span.points__point 
                - numberOfPoints--