include ../section-head/section-head.pug


mixin profile({ regular, bold })
    section.profile
        .profile__head
            +section-head('profile', '../img/profile.svg')  
        p.profile__copy=regular
          b.profile__copy-highlight=bold

