include ../section-head/section-head.pug


mixin profile(copy)
    section.profile
        .profile__head
            +section-head('profile', '../img/profile.svg')  
        p.profile__copy=copy.regular
          b.profile__copy-highlight=copy.bold

