mixin places(placesList)
    - var themeModifier = attributes && attributes.title==="emphasized" ? "blue" : "";
        ul.places
            each place in placesList
                li.places__item
                    h3.places__title(class=themeModifier ? `places__title--${themeModifier}` : '')=place.title 
                    .places__interval=place.interval
                    .places__subtitle=place.subtitle
                    .places__desc=place.copy