mixin places(arr)
    - var mod = attributes && attributes.title==="emph" ? "blue" : "";
        ul.places
            each val in arr
                li.places__item
                    h3.places__title(class=mod ? `places__title--${mod}` : '')=val.title 
                    .places__interval=val.interval
                    .places__subtitle=val.subtitle
                    .places__desc=val.copy