 baseName = external

.{baseName} 
  &__subtitle
    text-transform uppercase
    font-size 1.5625rem
  &__list
    margin-left 3.5rem
  &__title
    color #000
  &__title--blue 
    color var(--theme-blue)
  &__item
    margin-bottom .75rem
  &__desc 
    margin-top .3125rem