.bullet-list 
  list-style none
  &__title 
    display inline-block
    font-size 25px
    letter-spacing .4px
  &__interval
    display inline-block
    font-size 26px
    margin-left 14px
    &:before 
      content "//"
      margin-right 6px
  &__item 
    position relative
    &:before
      content ""
      display inline-block
      position absolute
      left -42px
      top 3px
      height: 20px
      width: 20px
      border-radius 50%
      background-color #000000