@font-face
    font-family 'myriad-pro'
    src url('../fonts/MyriadPro-Bold.eot')
    src local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg')
    font-weight 600
    font-style normal
    
@font-face
    font-family 'myriad-pro'
    src url('../fonts/MyriadPro-Regular.eot')
    src local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg')
    font-weight 400
    font-style normal