@require 'fonts'
@require 'bullet-list'
@require 'section-head'
@require '../components/person/person.styl'
@require '../components/rating-dots/rating-dots.styl'
@require '../components/rating-bars/rating-bars.styl'


// @require '../components/definitions/definitions.styl'

:root 
  --theme-blue #056CB4
  
$md_breakpoint = 1100px
$sm_breakpoint = 900px

*
  box-sizing border-box
  margin 0
  padding 0

h1, h2, h3
  text-transform uppercase
  white-space nowrap
  font-family 'Conv_MyriadPro-Bold'

body
  font-family 'Conv_MyriadPro-Regular'
  display flex
  justify-content center
  padding-top 1.875rem
  
.wrapper
  width 58.5%
  display grid 
  grid-gap 7%
  grid-template-columns: 0.6498422712933754fr 1fr
  @media screen and (max-width: $md_breakpoint)
    width 90%
  @media screen and (max-width: $sm_breakpoint)
    grid-template-columns 1fr
    width 94%
      
  &__intro
    margin-top 1.875rem
    position relative
    left .625rem
    
  &__skills 
    margin-top 2.8125rem

  &__software
    margin-top 3.25rem
    
  &__experience 
    margin-top: 3.25rem

  &__experience__head
    margin-bottom 2.75rem
    
  &__contact
    margin-top 2.125rem
    
  &__education 
    @media screen and (max-width: $sm_breakpoint)
      margin-top 2.5rem
      
.contact__head:before
  background-image: url(../img/contact.svg)
.skills__head:before
  background-image: url(../img/skills.svg)
.education__head:before
  background-image: url(../img/education.svg)
.software__head:before
  background-image: url(../img/software.svg)
.profile__head:before
  background-image: url(../img/profile.svg)
.experience__head:before
  background-image: url(../img/experience.svg)  

    
.profile
  margin-top 4.5rem
  &__description
    margin-top -.8125rem
    font-size 1rem
    line-height: 1.23rem;
    letter-spacing: -0.29px;


