@require 'fonts'

@require 'variables'
/*@require '../components/section-head/section-head.styl'
@require '../components/wrapper/wrapper.styl'
@require '../components/person/person.styl'
@require '../components/contact/contact.styl'
@require '../components/rating-dots/rating-dots.styl'
@require '../components/rating-bars/rating-bars.styl'
@require '../components/definitions/definitions.styl'
@require '../components/places/places.styl'
@require '../components/experience/experience.styl'
@require '../components/education/education.styl'*/

*
  box-sizing border-box
  margin 0
  padding 0

body
  font-family myriad-pro, Arial, sans-serif
  display flex
  justify-content center
  padding 1.875rem 0
  

