@require 'fonts'
@require 'bullet-list'
@require 'section-head'
// @require '../components/definitions/definitions.styl'

:root 
  --theme-blue #056CB4
  
$md_breakpoint = 1100px
$sm_breakpoint = 900px

*
  box-sizing border-box
  margin 0
  padding 0

h1, h2, h3
  text-transform uppercase
  white-space nowrap
  font-family 'Conv_MyriadPro-Bold'
body
  font-family 'Conv_MyriadPro-Regular'

  
.wrapper
  margin 30px auto 0
  width: 58.5%
  display: grid 
  grid-gap: 7%
  grid-template-columns: 0.6498422712933754fr 1fr
  @media screen and (max-width: $md_breakpoint)
    width 90%
  @media screen and (max-width: $sm_breakpoint)
    grid-template-columns: 1fr
    width: 94%

.contact__head:before
  background-image: url(../img/contact.svg)
.skills__head:before
  background-image: url(../img/skills.svg)
.education__head:before
  background-image: url(../img/education.svg)
.software__head:before
  background-image: url(../img/software.svg)
.profile__head:before
  background-image: url(../img/profile.svg)
.experience__head:before
  background-image: url(../img/experience.svg)  


.intro__mugshot
  margin 0 auto
  width: 200px
  height: 200px
  background-color var(--theme-blue)
  border-radius 50%
  position relative
  &:before
    content ""
    position absolute
    width 230px
    height 230px
    border-radius 50%
    left -16px
    top -16px
    border 1px solid var(--theme-blue)
    
      
.intro
  margin-top 30px
  position relative
  left 10px
  @media screen and (max-width: $sm_breakpoint)
    left 0
  &__name
    text-align center
    font-family 'Conv_MyriadPro-Regular'
    font-size 54px
    letter-spacing 2px
    font-weight 100
    line-height 0px
    margin-top 72px
  &__surname
    text-align center
    font-weight bold
    font-size 63px
    margin-top 16px
    letter-spacing -1px
  &__profession
    text-align center
    font-size 25px
    text-transform uppercase
    font-family 'Conv_MyriadPro-Bold'
  
.profile
  margin-top 72px
  &__description
    margin-top -13px
    font-size 16px
    line-height 1.184em
  

.skills 
  margin-top 45px
  &__list
    display flex
    flex-direction column
    align-items center
    list-style none   
  &__item
    margin-bottom 18px
    .title 
      text-transform uppercase
      text-align center
      font-size 23px
      letter-spacing 1.4px
      margin-bottom 8px

.education
  @media screen and (max-width: $sm_breakpoint)
    margin-top 40px
  &__univer-name
    text-transform uppercase
    font-size 25px
  &__title
    color #000
  &__title--blue 
    color var(--theme-blue)
  &__item
    margin-bottom 12px
  &__desc 
    margin-top 5px
    
.experience
  margin-top 54px
  &__list
    margin-top 41px
  &__position
    text-transform uppercase
    font-size 25px
  &__item
    margin-bottom 12px
  &__desc 
    margin-top 5px
    
.software
  margin-top 52px
  &__list
    list-style none
    display grid
    margin -2px 8px 0
    grid-template-columns 1fr 1fr
    grid-gap  22px 80px
  &__title
    font-weight 200
    font-size 25px
    margin-bottom 13px
    letter-spacing .4px
    font-family 'Conv_MyriadPro-Regular'

.point 
  display inline-block
  width 18px
  height 18px
  margin-right 9px
  border-radius 50%
  background-color #e6e6e6  
  &.active
    background-color #3d6cb0
    
.bar 
  height: 22px
  background-color #e6e6e6
  .percent 
    background-color #3d6cb0
