
.section-head
  display flex
  color: var(--theme-blue)
  font-size 2.5rem
  letter-spacing .04375rem
  grid-template-columns 4.6875rem max-content 1fr
  align-items center
  justify-content space-between
  margin-bottom: 1.5625rem

  &:before 
    content ""
    width: 4.6875rem
    height: 4.6875rem
    margin-right .8125rem
    display inline-block
    background-image: url(../img/profile.svg)
    background-size: cover
    bacground-repeat: no-repeat
    
  &:after
    content ""
    display: inline-block
    border .125rem solid var(--theme-blue)
    height 0rem
    margin-left .625rem
    flex 1