include ../rating-dots/rating-dots.pug
include ../section-head/section-head.pug

mixin skills(skillsList)
    section.skills
        .skills__head
            +section-head('skills', '../img/skills.svg')
        +ratingDots(skillsList)

