include ../rating-dots/rating-dots.pug
include ../section-head/section-head.pug

mixin skills(data)
    section.skills
        .skills__head
            +section-head('skills')
        +ratingDots(data)