.wrapper
  width 90%
  display grid 
  grid-gap 7%
  @media screen and (min-width: $sm_breakpoint)
    grid-template-columns: 0.6498422712933754fr 1fr
    width 85%
  @media screen and (min-width: $md_breakpoint)
    grid-template-columns: 0.6498422712933754fr 1fr
    width 75%
      
  &__intro
    margin-top 1.875rem
    position relative
    left .625rem
    
  &__profile
    margin-top 4.5rem
    
  &__skills 
    margin-top 2.8125rem

  &__software
    margin-top 3.25rem
    
  &__experience 
    margin-top: 3.25rem

  &__experience__head
    margin-bottom 2.75rem
    
  &__contacts
    margin-top 2.125rem
    
  &__education 
    @media screen and (max-width: $sm_breakpoint)
      margin-top 2.5rem