@require '../../styles/variables'

.definitions 
  display grid
  grid-gap 1.875rem 1.6rem
  letter-spacing .0375rem
  grid-template-columns: 1fr 2.35fr  
  &__key
    font-size 1.25rem
    text-transform uppercase
    color: var(--theme-blue)
    font-weight 600
  &__value
    font-size 1.25rem