mixin definitions(defs, baseClass)
    - var defStyle = loadStyle("src/components/definitions/definitions.styl", baseClass);
    style=defStyle
    each val, key in defs
        dl(class=baseClass + '__list')
            dt(class=baseClass + '__key')=key
            dd(class=baseClass + '__value')=val
