include ../bar/bar.pug

mixin ratingBars(ratingsList)
    ul.rating-bars
        each ratingValue, ratingName in ratingsList
            li.rating-bars__item
                h3.rating-bars__item-title=ratingName
                .rating-bars__graph 
                    +bar(ratingValue)
