@require '../bar/bar.styl'

.rating-bars
    list-style none
    display grid
    margin -.125rem .5rem 0
    grid-template-columns 1fr 1fr
    grid-gap  1.375rem 5rem
  &__title
    font-weight 200
    font-size 1.375rem
    margin-bottom .8125rem
    letter-spacing .025rem
    font-family 'Conv_MyriadPro-Regular'