include ../bar/bar.pug

mixin ratingBars(arr)
    ul.rating-bars
        each val, key in arr
            li.rating-bars__item
              .rating
                h3.rating__title=key
                .rating__graph 
                    +bar(val)
