 baseName = external

.{baseName} 
  margin-top 52px
  &__list
    list-style none
    display grid
    margin -2px 8px 0
    grid-template-columns 1fr 1fr
    grid-gap  22px 80px
  &__title
    font-weight 200
    font-size 25px
    margin-bottom 13px
    letter-spacing .4px
    font-family 'Conv_MyriadPro-Regular'