mixin person({ name, surname, profession })
    .person
        .person__mugshot
        .person__name(contenteditable)=name
        .person__surname(contenteditable)=surname
        p.person__profession=profession