mixin person(data)
    .person
        .person__mugshot
        .person__name(contenteditable)=data.name
        .person__surname(contenteditable)=data.surname
        p.person__profession=data.profession