include ../rating-bars/rating-bars.pug
include ../section-head/section-head.pug

mixin software(data)
    section.software
        .software__head
            +section-head('software')
        +ratingBars(data)