include ../points/points.pug

mixin ratingDots(arr, baseClass)
    ul.rating-dots
        each val, key in arr
            li.rating-dots__item
                .rating-dots__title=key
                .rating-dots__graph 
                    +points(val, 12)