include ../points/points.pug

mixin ratingDots(ratingsList)
    ul.rating-dots
        each ratingValue, ratingName in ratingsList
            li.rating-dots__item
                .rating-dots__item-title=ratingName
                .rating-dots__graph 
                    +points(ratingValue, 12)