@require '../points/points.styl'

.rating-dots 
  display flex
  flex-direction column
  align-items center
  list-style none   
  &__item
    margin-bottom 1.125rem
  &__item-title 
    text-transform uppercase
    text-align center
    font-size 1.4375rem
    letter-spacing .0875rem
    margin-bottom .5rem