doctype html
html(lang="en")
  head
    link(type='text/css', rel='stylesheet', href='./css/styles.css')
    title  pageTitle
  include mixins/points_mix.pug
  include mixins/bar_mix.pug
  body
    .wrapper
      .left-side
        section.intro
          .intro__mugshot
          h1.intro__name Name here
          h1.intro__surname Surname
          P.intro__profession graphic designer
        section.profile
          h2.section-head.profile__head profile 
          p.profile__description 
            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. 
        section.contact
          h2.section-head.contact__head contact
          dl.contact__list.list
            dt.contact__key Address
            dd.contact__value Main Street, City
            dt.contact__key e-mail
            dd.contact__value contact@domain.com
            dt.contact__key phone
            dd.contact__value 555-555-555
            dt.contact__key website
            dd.contact__value www.yourweb.com
        section.skills
          h2.section-head.skills__head skills
          ul.skills__list
            li.skills__item
              .title Creative
              .graph 
                +points(6, 12)
            li.skills__item
              .title Teamwork
              .graph 
                +points(8, 12)
            li.skills__item
              .title Innovate
              .graph 
                +points(3, 12)
            li.skills__item
              .title Communication
              .graph 
                +points(4, 12)
      .right-side
        section.education
          h2.section-head.education__head education
          ul.education__list.bullet-list
            li.education__item.bullet-list__item
              h3.education__title.bullet-list__title Master degree
              .bullet-list__interval Feb 2011 - Jun 2014
              .education__univer-name University name
              .education__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.

            li.education__item.bullet-list__item
              h3.education__title.bullet-list__title Master degree
              .bullet-list__interval Feb 2011 - Jun 2014
              .education__univer-name University name
              .education__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.

            li.education__item.bullet-list__item
              h3.education__title.bullet-list__title Master degree
              .bullet-list__interval Feb 2011 - Jun 2014
              .education__univer-name University name
              .education__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.

            li.education__item.bullet-list__item
              h3.education__title.bullet-list__title Master degree
              .bullet-list__interval Feb 2011 - Jun 2014
              .education__univer-name University name
              .education__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.
        section.experience
          h2.section-head.experience__head experience
          ul.experience__list.bullet-list
            li.experience__item.bullet-list__item
              h3.title.bullet-list__title Company name
              .experience__time-interval.bullet-list__interval Feb 2011 - Jun 2014
              .experience__position Your job here
              .experience__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.       
            li.experience__item.bullet-list__item
              h3.title.bullet-list__title Company name
              .experience__time-interval.bullet-list__interval Feb 2011 - Jun 2014
              .experience__position Your job here
              .experience__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut.       
            li.experience__item.bullet-list__item
              h3.title.bullet-list__title Company name
              .experience__time-interval.bullet-list__interval Feb 2011 - Jun 2014
              .experience__position Your job here
              .experience__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, efficitur ut mi ut, feugiat efficitur nulla. Sed vel magna in arcu maximus egestas. Suspendisse consectetur sollicitudin lacus, ut tempus lorem hendrerit ut. 

        section.software
          h2.section-head.software__head software
          ul.software__list
            li
              h3.software__title photoshop
              .graph 
                +bar(30)
            li
              h3.software__title dreamweaver
              .graph 
                +bar(76)
            li
              h3.software__title illustrator
              .graph 
                +bar(50)
            li
              h3.software__title after effects
              .graph 
                +bar(55)
            li
              h3.software__title indesign
              .graph 
                +bar(88)
            li
              h3.software__title html&css
              .graph 
                +bar(99)