include ../definitions/definitions.pug
include ../section-head/section-head.pug


mixin contacts(personalInfo) 
    section.contact
        .contact__head
            +section-head('contact', '../img/contact.svg')
        .contact__body
            +definitions(personalInfo)

